html {
    background-color: darkgoldenrod;
    scroll-behavior: smooth;
}

body {
    font-size: larger;
    font-family: 'roboto', sans-serif;
    margin: 0px 200px;
    border-left: 5px black solid;
    border-right: 5px black solid;
    background-color: white;
    min-width: 400px;
}

header {
    color: white;
    height: 300px;
    background-color: gold;
}

header h1 {
    font-size: 50px;
    color: white;
}

header h2 {
    font-size: 30px;
    color: white;
}

main h1{
    color: black;
    font-size: 50px;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 30px;
    border-bottom: 3px black solid;
    border-top: 3px black solid;
    position: sticky;
    top: 5px;
    background-color: white;
}

nav div {
    padding: 5px;
    justify-content:center;
    transition: 0.3s;
    /* border: 1px red solid; */
    align-content: center;
}

nav div:hover {
    opacity: 0.7;
    transition: 0.3s;
}

nav div a {
    text-decoration: none;
}

h1, h2, p {
    margin-left: 8px;
    margin-right: 8px;
}

.grid-item img {
    width: 50%;
}

#shop-grid th {
    text-align: center;
}

#shop-grid {
    border: 1px black solid;
}

.grid-item {
    border: 1px black solid;
    padding: 1px;
    text-align: center;
}

footer {
    height: 250px;
    background-color: black;
    position: sticky;
    bottom: 0px;
}

html {
    margin: 0px;
}

footer p, h2, h1 {
    color: white;
    font-size: smaller;
}

footer>table {
    max-width: max-content;
    margin-left: 50px;
    margin-right: 50px;
}

footer ul {
    color: white;
    list-style-type: georgian;
}

#shopgomb {
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
    border-radius: 5%;
    border: 1px black solid;
}

#shopgomb:hover {
    transition: 300ms;
    box-shadow: 3px 3px 5px black;
}

#gomb {
    justify-content: center;
}

#shop-grid th {
    justify-content: center;
}

hr {
    width: 90%;
}

footer h1 {
    font-size: larger;
}

footer h2 {
    font-size: medium;
}
